.card-body {
    padding-top: 2%
}

.card1 {
    margin: 1%;
}

.card-row {
    justify-content: center;
}

.login-input {
    margin: 1%;
}

.food-categories {
    display: flex;
    margin: 1%;
    padding: 1%;
}

.food {
    padding-right: 2%;
}

.btn-modal {
    margin: .5%;
}


.card-outline {
border: solid rgb(0, 0, 0) 1px;
}

.submit-activity {
    display:flex;
    justify-content: center;
    margin-bottom: 1%;
}

.footer {
    background-color: rgb(255, 174, 0);
    text-align: center;
    padding: 10px;
}

