<head>
  <meta charset="UTF-8">
  <title>My Unhealthy Friend</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <img src="/images/birdseyeburger.jpg" class="hero-hero">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyUnhealthyFriend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">EXERCISE ENTRY<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">ACTIVITY HISTORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resources">RESOURCES</a>
        </li>
      </ul>
    </div>
    <button id="logout" class="btn btn-primary" type="click">LOGOUT</button>
  </nav>
  <div class="flex-column justify-space-around">
    {{!-- <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 My Unhealthy Friend &#127881
      </h1>
    </header> --}}
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>

<script src="./js/logout.js"></script>

  </body>
 
 
</html>