


<div class="container"> 
  <div class="row pref-row"> 
    <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="thai" id="thai">
        <label class="custom-control-label" for="customCheck1">Thai</label>
      </div>
      <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="french" id="french">
        <label class="custom-control-label" for="customCheck1">French</label>
      </div>
      <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  name="preference" value="chinese" id="chinese">
        <label class="custom-control-label" for="customCheck1">Chinese</label>
      </div>
    </div>
    <div class="row pref-row"> 
      <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="mexican" id="mexican">
        <label class="custom-control-label" for="customCheck1">Mexican</label>
      </div>
      <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="italian" id="italian">
        <label class="custom-control-label" for="customCheck1">Italian</label>
      </div>
       <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="fast-food" id="fast-food">
        <label class="custom-control-label" for="customCheck1">Fast-food</label>
      </div>
       </div>
       <div class="row pref-row"> 
       <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="indian" id="indian">
        <label class="custom-control-label" for="customCheck1">Indian</label>
      </div>
       <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="japanese" id="japanese">
        <label class="custom-control-label" for="customCheck1">Japanese</label>
      </div>
       <div class="col-md-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="preference" value="irish" id="irish">
        <label class="custom-control-label" for="customCheck1">Irish</label>
      </div>
      </div>
      <div class="row"> 

       <div class="button-container"> 
          <form action="/app">
            <input type="submit" value="Submit preferences" id="preference-submit" class="btn btn-primary"/>
          </form>
        </div>
        </div>


<div class="food-choice-cartoon"> 
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_tll0j4bb.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      
      </div>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{{!-- <script src="./js/add-preference.js"></script> --}}

<script>
  var userId = {{user_id}};

  async function preferenceSubmit(event) {
    event.preventDefault();
    const preferenceSelections = [];

    const preferences = document.getElementsByName('preference')

    for (i = 0; i < preferences.length; i++) {
        if (preferences[i].checked) {
            preferenceSelections.push(preferences[i].value)
        }
    };
    console.log("preferenceSelections", preferenceSelections)
    for (i = 0; i < preferenceSelections.length; i++) {
        let category_id = []

        if (preferenceSelections[i] === 'italian') {
            category_id = 1;
           preferenceDbAdd(1);
        } else if (preferenceSelections[i] === 'chinese') {
            category_id = 2;
           preferenceDbAdd(2);
        } else if (preferenceSelections[i] === 'french') {
            category_id = 3
           preferenceDbAdd(3);
        } else if (preferenceSelections[i] === 'american') {
            category_id = 4

           preferenceDbAdd(4);
        } else if (preferenceSelections[i] === 'indian') {
            category_id = 5
           preferenceDbAdd(5);
           
        } else if (preferenceSelections[i] === 'fast-food') {
            category_id = 6
           preferenceDbAdd(6);

        } else if (preferenceSelections[i] === 'mexican') {
            category_id = 7
           preferenceDbAdd(7);

        } else if (preferenceSelections[i] === 'thai') {
            category_id = 8
           preferenceDbAdd(8);

        } else if (preferenceSelections[i] === 'japanese') {
            category_id = 9
           preferenceDbAdd(9);

        } else {
          //irish
            category_id = 10
           preferenceDbAdd(10);

        }
      
    }     

    console.log("preferenceSelections>>>", preferenceSelections)
async function preferenceDbAdd(category_id) {
  console.log("what user is this preference being logged for? userId", userId)
      const response = await fetch(`/api/preferences/`, {
        method: "POST",
        body: JSON.stringify({
          category_id: category_id,
          user_id: 1
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });
        if (response.ok) {
      document.location.replace('/app');
    } else {
      alert('Failed to log preference.');
    }

}
    
}
document.querySelector('#preference-submit').addEventListener("click", preferenceSubmit)
</script>

